
/*
**************************
****  Filter Control  ****
**************************
*/

    .filter-control {
      position: relative;
    }
    .filter-control label {
      display: block;
      margin: 3px 0;
    } 
    .filter-content {
      display: none;
      margin-top: 5px;
      height: 40vh;

    }
  
    .filter-control:hover .filter-content {
      display: block;
      background: rgb(177, 165, 155);
    }

    #camp{
      margin-top: 10%;
    }
    input[type="checkbox"] {
      accent-color: green;
    }
    #showFilterYear{
      width:50px;
      text-align: center;

    }
    #filterYear{
      width: 100%;
      accent-color: green;
    }
  
