    .rg-con-foot{
      align-content: end;
      background: seashell;
      height:100%;
      width: 338px;
      border: none;

    }
    .rg-zoom-ex{
      font-size: 12px;
      border: none;

    }
    
  
  
/* 

    the button that is used to open and close the collapsible content
*/
    
    .control-button-wrapper{
      display: flex;
      border: none;

    }
    .collapsible {
      background-color: seashell;
      color: black;
      cursor: pointer;
      padding: 5px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 14px;
    }
    .button-original-map {
      background-color: seashell;
      color: black;
      cursor: pointer;
      padding: 5px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 14px;
    }

    .button {
      background-color: seashell;
      color: black;
      cursor: pointer;
      padding: 5px;
      width: 40px;
      border: none;
      text-align: left;
      outline: none;
      font-size: 14px;
    }
    .button::after{
      content: "\2795";
      font-size: 15px;
      margin-left: 4px;
    }
    
    .active, .collapsible:hover, .button:hover, .list-button {
      background-color: rgb(237, 225, 220);
    }
  
    .collapsible:after {
      content: '\25BC';
      color: rgb(45, 70, 51);
      font-weight: bold;
      float: left;
      margin-left: 5px;
    }
    
    .active:after {
      content: "\25B2";
    }
    
    .content {
      padding: 0 10px;
      max-height: 0;
      overflow: auto;
      transition: max-height 0.2s ease-out;
      background-color: rgba(251, 236, 225, 0.018);
      scrollbar-width: thin;
      border: none;

    }
    .plain{
      font-size: 16px;
      background-color: seashell;
      padding: 0px;
      display: block;
      border: none;
    }
    .list-button{
      background-color: rgb(237, 225, 220);
      color: black;
      padding: 2 10px;
      width: auto;
      border: none;
      text-align: left;
      outline:  none;
      font-size: 12px;
    }
    .list-button:hover{
      background-color: seashell;
    }
    .list-button:active{
      background-color: rgb(245, 108, 11);
    }
    .no-loc{
      font-size: 11px;
      background-color: seashell;
      border: none;

    }
    


