
/*
**************************
****  Filter Control  ****
**************************
*/

    .filter-control {
      position: relative;
    }
    .filter-control label {
      display: block;
      margin: 3px 0;
    } 
    .filter-control-hover {
      background: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 5px;
      font-size: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      cursor: pointer;
      overflow: auto;
    }
    .filter-content {
      display: none;
      margin-top: 5px;
    }
  
    .filter-control:hover .filter-content {
      display: block;
      background: rgb(177, 165, 155);
    }

    #camp{
      margin-top: 10%;
    }
    #showFilterYear{
      width:50px;
      text-align: center;

    }
    #filterYear{
      width: 100%;
    }
  
