/*
######################
####  Map Styles  ####
######################
*/

#map {
    height: 98vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

/*
####  Marker Popup Styles  ####
*/

  .popup-content {
    width: 284px;

  }
  .leaflet-popup-content-wrapper{
    background-color: rgba(255, 245, 238, 0.9);
    opacity: 1;
  }

  .leaflet-popup-content {
    max-width: 300px; /* Default is 300px */
    max-height: 425px; /* Default is 300px */
    overflow: auto;
    overflow-x: hidden;

  }
  .title{
    font-size: 20px;
    display: block;
  }
  .company{
    font-size: 18px;
    display: block;
  }
  .image-button{
    display: inline;
  }
  .image{
    height:75px;
    display: inline;
    margin: auto;
  }

  .year{
    display: block;
    font-size: 14px;
    margin: 0px;
    padding: 2%;
  }
  .description{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-position: inside;
  }
  .each_discrpt{
    font-size: 12.5px;
    margin: 0 0 0 0px;
    padding: 0 0 0 0;
  }
  .each_discrpt_li{
    font-size: 12.5px;
    margin: 0 0 0 22px;
    padding: 0 0 0 0;
  }


  @media (prefers-color-scheme: dark) {
    .leaflet-popup-content-wrapper{
      background-color: rgb(83, 81, 81, 0.9);
    }
    .title{
      color: seashell;
    }
  .company{
    color: seashell;
    }
  .year{
  color: seashell;
  }
  .description{
  color: seashell;
  }
}

/*
####  Image Popup  ####
*/  

  #popupSection {
  position: absolute;
  top: 12%;
  left: 12%;
  height: 75%;
  width: 75%;
  z-index: 1000; /* higher than Leaflet tiles */
  background-color: rgba(255, 245, 238, 0.9);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
/*Close Section*/
.image-popup-close{
  display: flex;
  justify-content: right; 
  outline: none;
  border: none;
  height:5%;
  background:rgba(255, 245, 238, 0);
}
.large-image-close{
  background-color: rgba(255, 245, 238, 0);
  color: black;
  border: none;
  outline:  none;
  display: flex;
  align-items:center;
  justify-content: right;
}
.large-image-close-icon{
  height: 100%;
  width: auto;
  display: block;
  color: black;
}

.section-wo-close{
  display: block;
  justify-content: center;
  height: 90%;
}
.section-wo-close2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}
.large-image-div{
  display:block;
  justify-content: center;
  margin:auto;
}
.large-image{
  max-height: 75%;
  max-width: 75%;
  display: block;
  margin: auto;
}
  h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
  }


/*
####  Popup Styel (Dark Mode)  ####
*/

  @media (prefers-color-scheme: dark) {
  #popupSection{
    background-color: rgba(83, 81, 81, 0.9);
    color: seashell;
  }
  .image-popup-close{
    background-color: rgba(0, 0, 0, 0);
  }
  .large-image-close{
    background-color: rgba(0, 0, 0, 0);
  }
  .large-image-close-icon{
    filter: invert(1);
    background-color: rgba(0, 0, 0, 0);
  }
   

}

/*
######################
####   Controls   ####
######################
*/

/* 
********************************
****    Regional Control    ****
********************************
  Open up when the carsol hovers on 
*/
    .custom-control {
      position: relative;
    }
    .custom-control label {
      display: block;
      margin: 3px 0;
    } 
    .custom-control-hover {
      background: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 5px;
      font-size: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      cursor: pointer;
      overflow: auto;
    }
    .custom-content {
      display: none;
      overflow:hidden;
      margin-top: 5px;
      height: 465px
    }
  
    .custom-control:hover .custom-content {
      display: block;
      background: rgb(177, 165, 155);
    }

    .rg-con-foot{
      align-content: end;
      background: seashell;
      height:75%;
    }
    .rg-zoom-ex{
      font-size: 12px;
    }
    
  
  
/* 

    the button that is used to open and close the collapsible content
*/
    
    .control-button-wrapper{
      display: flex;
    }
    .collapsible {
      background-color: seashell;
      color: black;
      cursor: pointer;
      padding: 5px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 14px;
    }
    .button-original-map {
      background-color: seashell;
      color: black;
      cursor: pointer;
      padding: 5px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 14px;
    }

    .button {
      background-color: seashell;
      color: black;
      cursor: pointer;
      padding: 5px;
      width: 40px;
      border: none;
      text-align: left;
      outline: none;
      font-size: 14px;
    }
    .button::after{
      content: "\2795";
      font-size: 15px;
      margin-left: 4px;
    }
    
    .active, .collapsible:hover, .button:hover, .list-button {
      background-color: rgb(237, 225, 220);
    }
  
    .collapsible:after {
      content: '\25BC';
      color: rgb(45, 70, 51);
      font-weight: bold;
      float: left;
      margin-left: 5px;
    }
    
    .active:after {
      content: "\25B2";
    }
    
    .content {
      padding: 0 10px;
      max-height: 0;
      overflow: auto;
      transition: max-height 0.2s ease-out;
      background-color: rgba(251, 236, 225, 0.018);
      scrollbar-width: thin;
    }
    .plain{
      font-size: 16px;
      background-color: seashell;
      padding: 0px;
      display: block;
    }
    .list-button{
      background-color: rgb(237, 225, 220);
      color: black;
      padding: 2 10px;
      width: auto;
      border: none;
      text-align: left;
      outline:  none;
      font-size: 12px;
    }
    .list-button:hover{
      background-color: seashell;
    }
    .list-button:active{
      background-color: rgb(245, 108, 11);
    }
    .no-loc{
      font-size: 11px;
      background-color: seashell;
    }
    





/*
**************************
****  Filter Control  ****
**************************
*/

    .filter-control {
      position: relative;
    }
    .filter-control label {
      display: block;
      margin: 3px 0;
    } 
    .filter-control-hover {
      background: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 5px;
      font-size: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      cursor: pointer;
      overflow: auto;
    }
    .filter-content {
      display: none;
      margin-top: 5px;
    }
  
    .filter-control:hover .filter-content {
      display: block;
      background: rgb(177, 165, 155);
    }

    #camp{
      margin-top: 10%;
    }
    #showFilterYear{
      width:50px;
      text-align: center;

    }
    #filterYear{
      width: 100%;
    }
  
