/*
######################
####  Map Styles  ####
######################
*/

#map {
    height: 98vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

/*
####  Marker Popup Styles  ####
*/

  .popup-content {
    width: 284px;

  }
  .leaflet-popup-content-wrapper{
    background-color: rgba(255, 245, 238, 0.9);
    opacity: 1;
  }

  .leaflet-popup-content {
    max-width: 300px; /* Default is 300px */
    max-height: 425px; /* Default is 300px */
    overflow: auto;
    overflow-x: hidden;

  }
  .title{
    font-size: 20px;
    display: block;
  }
  .company{
    font-size: 18px;
    display: block;
  }
  .image-button{
    display: inline;
  }
  .image{
    height:75px;
    display: inline;
    margin: auto;
  }

  .year{
    display: block;
    font-size: 14px;
    margin: 0px;
    padding: 2%;
  }
  .description{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-position: inside;
  }
  .each_discrpt{
    font-size: 12.5px;
    margin: 0 0 0 0px;
    padding: 0 0 0 0;
  }
  .each_discrpt_li{
    font-size: 12.5px;
    margin: 0 0 0 22px;
    padding: 0 0 0 0;
  }


  @media (prefers-color-scheme: dark) {
    .leaflet-popup-content-wrapper{
      background-color: rgb(83, 81, 81, 0.9);
    }
    .title{
      color: seashell;
    }
  .company{
    color: seashell;
    }
  .year{
  color: seashell;
  }
  .description{
  color: seashell;
  }
}

  h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
  }


/*
######################
####   Controls   ####
######################
*/

/* 
********************************
****    Regional Control    ****
********************************
  Open up when the carsol hovers on 
*/
    .custom-control {
      position: relative;
    }
    .custom-control label {
      display: block;
      margin: 3px 0;
    } 
    .custom-control-hover {
      background: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 5px;
      font-size: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      cursor: pointer;
      overflow: auto;
    }
    .custom-content {
      display: none;
      overflow:hidden;
      margin-top: 5px;
      height: 465px
    }
  
    .custom-control:hover .custom-content {
      display: block;
      background: rgb(177, 165, 155);
    }



